/* -- Material Design Table-nr style -------------- */
.table-nr {
	width: 100%;
	max-width: 100%;
	margin-bottom: 2rem;
	background-color: #ffffff;
}
.table-nr > thead > tr,
.table-nr > tbody > tr,
.table-nr > tfoot > tr {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.table-nr > thead > tr > th,
.table-nr > tbody > tr > th,
.table-nr > tfoot > tr > th,
.table-nr > thead > tr > td,
.table-nr > tbody > tr > td,
.table-nr > tfoot > tr > td {
	text-align: left;
	padding: 1.6rem;
	vertical-align: top;
	border-top: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.table-nr > thead > tr > th {
	font-weight: 400;
	color: #757575;
	vertical-align: bottom;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table-nr > caption + thead > tr:first-child > th,
.table-nr > colgroup + thead > tr:first-child > th,
.table-nr > thead:first-child > tr:first-child > th,
.table-nr > caption + thead > tr:first-child > td,
.table-nr > colgroup + thead > tr:first-child > td,
.table-nr > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table-nr > tbody + tbody {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table-nr .table-nr {
	background-color: #ffffff;
}
.table-nr .no-border {
	border: 0;
}
.table-nr-condensed > thead > tr > th,
.table-nr-condensed > tbody > tr > th,
.table-nr-condensed > tfoot > tr > th,
.table-nr-condensed > thead > tr > td,
.table-nr-condensed > tbody > tr > td,
.table-nr-condens-nred > tfoot > tr > td {
	padding: 0.8rem;
}
.table-nr-bordered {
	border: 0;
}
.table-nr-bordered > thead > tr > th,
.table-nr-bordered > tbody > tr > th,
.table-nr-bordered > tfoot > tr > th,
.table-nr-bordered > thead > tr > td,
.table-nr-bordered > tbody > tr > td,
.table-nr-bordered > tfoot > tr > td {
	border: 0;
	border-bottom: 1px solid #e0e0e0;
}
.table-nr-bordered > thead > tr > th,
.table-nr-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.table-nr-striped > tbody > tr:nth-child(odd) > td,
.table-nr-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f5f5f5;
}
.table-nr-hover > tbody > tr:hover > td,
.table-nr-hover > tbody > tr:hover > th {
	background-color: rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical > .table-nr {
		margin-bottom: 0;
		background-color: transparent;
	}
	.table-nr-responsive-vertical > .table-nr > thead,
	.table-nr-responsive-vertical > .table-nr > tfoot {
		display: none;
	}
	.table-nr-responsive-vertical > .table-nr > tbody {
		display: block;
	}
	.table-nr-responsive-vertical > .table-nr > tbody > tr {
		display: block;
		border: 1px solid #e0e0e0;
		border-radius: 2px;
		margin-bottom: 1.6rem;
	}
	.table-nr-responsive-vertical > .table-nr > tbody > tr > td {
		background-color: #ffffff;
		display: block;
		vertical-align: middle;
		text-align: right;
	}
	.table-nr-responsive-vertical > .table-nr > tbody > tr > td[data-title]:before {
		content: attr(data-title);
		float: left;
		font-size: inherit;
		font-weight: 400;
		color: #757575;
	}
	.table-nr-responsive-vertical.shadow-z-1 {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.table-nr-responsive-vertical.shadow-z-1 > .table-nr > tbody > tr {
		border: none;
		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
		-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	}
	.table-nr-responsive-vertical > .table-nr-bordered {
		border: 0;
	}
	.table-nr-responsive-vertical > .table-nr-bordered > tbody > tr > td {
		border: 0;
		border-bottom: 1px solid #e0e0e0;
	}
	.table-nr-responsive-vertical > .table-nr-bordered > tbody > tr > td:last-child {
		border-bottom: 0;
	}
	.table-nr-responsive-vertical > .table-nr-striped > tbody > tr > td,
	.table-nr-responsive-vertical > .table-nr-striped > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical > .table-nr-striped > tbody > tr > td:nth-child(odd) {
		background-color: #f5f5f5;
	}
	.table-nr-responsive-vertical > .table-nr-hover > tbody > tr:hover > td,
	.table-nr-responsive-vertical > .table-nr-hover > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical > .table-nr-hover > tbody > tr > td:hover {
		background-color: rgba(0, 0, 0, 0.12);
	}
}
.table-nr-striped.table-nr-mc-red > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-red > tbody > tr:nth-child(odd) > th {
	background-color: #fde0dc;
}
.table-nr-hover.table-nr-mc-red > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-red > tbody > tr:hover > th {
	background-color: #f9bdbb;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-red > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-red > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-red > tbody > tr > td:nth-child(odd) {
		background-color: #fde0dc;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-red > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-red > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-red > tbody > tr > td:hover {
		background-color: #f9bdbb;
	}
}
.table-nr-striped.table-nr-mc-pink > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-pink > tbody > tr:nth-child(odd) > th {
	background-color: #fce4ec;
}
.table-nr-hover.table-nr-mc-pink > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-pink > tbody > tr:hover > th {
	background-color: #f8bbd0;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-pink > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-pink > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-pink > tbody > tr > td:nth-child(odd) {
		background-color: #fce4ec;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-pink > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-pink > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-pink > tbody > tr > td:hover {
		background-color: #f8bbd0;
	}
}
.table-nr-striped.table-nr-mc-purple > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-purple > tbody > tr:nth-child(odd) > th {
	background-color: #f3e5f5;
}
.table-nr-hover.table-nr-mc-purple > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-purple > tbody > tr:hover > th {
	background-color: #e1bee7;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-purple > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-purple > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-purple > tbody > tr > td:nth-child(odd) {
		background-color: #f3e5f5;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-purple > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-purple > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-purple > tbody > tr > td:hover {
		background-color: #e1bee7;
	}
}
.table-nr-striped.table-nr-mc-deep-purple > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-deep-purple > tbody > tr:nth-child(odd) > th {
	background-color: #ede7f6;
}
.table-nr-hover.table-nr-mc-deep-purple > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-deep-purple > tbody > tr:hover > th {
	background-color: #d1c4e9;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-deep-purple > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-deep-purple > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-deep-purple > tbody > tr > td:nth-child(odd) {
		background-color: #ede7f6;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-deep-purple > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-deep-purple > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-deep-purple > tbody > tr > td:hover {
		background-color: #d1c4e9;
	}
}
.table-nr-striped.table-nr-mc-indigo > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-indigo > tbody > tr:nth-child(odd) > th {
	background-color: #e8eaf6;
}
.table-nr-hover.table-nr-mc-indigo > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-indigo > tbody > tr:hover > th {
	background-color: #c5cae9;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-indigo > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-indigo > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-indigo > tbody > tr > td:nth-child(odd) {
		background-color: #e8eaf6;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-indigo > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-indigo > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-indigo > tbody > tr > td:hover {
		background-color: #c5cae9;
	}
}
.table-nr-striped.table-nr-mc-blue > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-blue > tbody > tr:nth-child(odd) > th {
	background-color: #e7e9fd;
}
.table-nr-hover.table-nr-mc-blue > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-blue > tbody > tr:hover > th {
	background-color: #d0d9ff;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-blue > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-blue > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-blue > tbody > tr > td:nth-child(odd) {
		background-color: #e7e9fd;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-blue > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-blue > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-blue > tbody > tr > td:hover {
		background-color: #d0d9ff;
	}
}
.table-nr-striped.table-nr-mc-light-blue > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-light-blue > tbody > tr:nth-child(odd) > th {
	background-color: #e1f5fe;
}
.table-nr-hover.table-nr-mc-light-blue > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-light-blue > tbody > tr:hover > th {
	background-color: #b3e5fc;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-light-blue > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-light-blue > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-light-blue > tbody > tr > td:nth-child(odd) {
		background-color: #e1f5fe;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-light-blue > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-light-blue > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-light-blue > tbody > tr > td:hover {
		background-color: #b3e5fc;
	}
}
.table-nr-striped.table-nr-mc-cyan > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-cyan > tbody > tr:nth-child(odd) > th {
	background-color: #e0f7fa;
}
.table-nr-hover.table-nr-mc-cyan > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-cyan > tbody > tr:hover > th {
	background-color: #b2ebf2;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-cyan > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-cyan > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-cyan > tbody > tr > td:nth-child(odd) {
		background-color: #e0f7fa;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-cyan > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-cyan > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-cyan > tbody > tr > td:hover {
		background-color: #b2ebf2;
	}
}
.table-nr-striped.table-nr-mc-teal > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-teal > tbody > tr:nth-child(odd) > th {
	background-color: #e0f2f1;
}
.table-nr-hover.table-nr-mc-teal > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-teal > tbody > tr:hover > th {
	background-color: #b2dfdb;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-teal > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-teal > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-teal > tbody > tr > td:nth-child(odd) {
		background-color: #e0f2f1;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-teal > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-teal > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-teal > tbody > tr > td:hover {
		background-color: #b2dfdb;
	}
}
.table-nr-striped.table-nr-mc-green > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-green > tbody > tr:nth-child(odd) > th {
	background-color: #d0f8ce;
}
.table-nr-hover.table-nr-mc-green > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-green > tbody > tr:hover > th {
	background-color: #a3e9a4;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-green > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-green > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-green > tbody > tr > td:nth-child(odd) {
		background-color: #d0f8ce;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-green > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-green > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-green > tbody > tr > td:hover {
		background-color: #a3e9a4;
	}
}
.table-nr-striped.table-nr-mc-light-green > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-light-green > tbody > tr:nth-child(odd) > th {
	background-color: #f1f8e9;
}
.table-nr-hover.table-nr-mc-light-green > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-light-green > tbody > tr:hover > th {
	background-color: #dcedc8;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-light-green > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-light-green > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-light-green > tbody > tr > td:nth-child(odd) {
		background-color: #f1f8e9;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-light-green > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-light-green > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-light-green > tbody > tr > td:hover {
		background-color: #dcedc8;
	}
}
.table-nr-striped.table-nr-mc-lime > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-lime > tbody > tr:nth-child(odd) > th {
	background-color: #f9fbe7;
}
.table-nr-hover.table-nr-mc-lime > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-lime > tbody > tr:hover > th {
	background-color: #f0f4c3;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-lime > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-lime > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-lime > tbody > tr > td:nth-child(odd) {
		background-color: #f9fbe7;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-lime > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-lime > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-lime > tbody > tr > td:hover {
		background-color: #f0f4c3;
	}
}
.table-nr-striped.table-nr-mc-yellow > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-yellow > tbody > tr:nth-child(odd) > th {
	background-color: #fffde7;
}
.table-nr-hover.table-nr-mc-yellow > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-yellow > tbody > tr:hover > th {
	background-color: #fff9c4;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-yellow > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-yellow > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-yellow > tbody > tr > td:nth-child(odd) {
		background-color: #fffde7;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-yellow > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-yellow > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-yellow > tbody > tr > td:hover {
		background-color: #fff9c4;
	}
}
.table-nr-striped.table-nr-mc-amber > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-amber > tbody > tr:nth-child(odd) > th {
	background-color: #fff8e1;
}
.table-nr-hover.table-nr-mc-amber > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-amber > tbody > tr:hover > th {
	background-color: #ffecb3;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-amber > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-amber > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-amber > tbody > tr > td:nth-child(odd) {
		background-color: #fff8e1;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-amber > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-amber > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-amber > tbody > tr > td:hover {
		background-color: #ffecb3;
	}
}
.table-nr-striped.table-nr-mc-orange > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-orange > tbody > tr:nth-child(odd) > th {
	background-color: #fff3e0;
}
.table-nr-hover.table-nr-mc-orange > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-orange > tbody > tr:hover > th {
	background-color: #ffe0b2;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-orange > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-orange > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-orange > tbody > tr > td:nth-child(odd) {
		background-color: #fff3e0;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-orange > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-orange > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-orange > tbody > tr > td:hover {
		background-color: #ffe0b2;
	}
}
.table-nr-striped.table-nr-mc-deep-orange > tbody > tr:nth-child(odd) > td,
.table-nr-striped.table-nr-mc-deep-orange > tbody > tr:nth-child(odd) > th {
	background-color: #fbe9e7;
}
.table-nr-hover.table-nr-mc-deep-orange > tbody > tr:hover > td,
.table-nr-hover.table-nr-mc-deep-orange > tbody > tr:hover > th {
	background-color: #ffccbc;
}
@media screen and (max-width: 4000px) {
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-deep-orange > tbody > tr > td,
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-deep-orange > tbody > tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-striped.table-nr-mc-deep-orange > tbody > tr > td:nth-child(odd) {
		background-color: #fbe9e7;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-deep-orange > tbody > tr:hover > td,
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-deep-orange > tbody > tr:hover {
		background-color: #ffffff;
	}
	.table-nr-responsive-vertical .table-nr-hover.table-nr-mc-deep-orange > tbody > tr > td:hover {
		background-color: #ffccbc;
	}
}
