/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";



//Constants
*:not(i){
	font-family: 'lato' !important;
}

@mixin lg {
	@media only screen and (min-width: 1200px) {
		@content;
	}
}

@mixin md {
	@media only screen and (max-width: 1199px) {
		@content;
	}
}

@mixin sm {
	@media only screen and (max-width: 991px) {
		@content;
	}
}	
	
@mixin xs {
	@media only screen and (max-width: 767px) {
		@content;
	}
}

button {
	outline: none !important;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transition: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin filter($filter) {
	-webkit-filter: $filter;
	-moz-filter: $filter;
	-ms-filter: $filter;
	-o-filter: $filter;
	filter: $filter;
}

.thumbnail {
	padding-top: 100%;
}

.n-cursor-pointer {
	cursor: pointer;
}

.n-cursor-pointer:hover {
	background-color: #eef2e7;
}

.n-container {
	@include xs {
		margin-left: 0 !important;
	}
}

$nav-width: 70px;
$nav-active-width: 200px;
$container-transition-time: 0.4s;

// 总 
.n-main {
	.n-container {
		@include transition(all $container-transition-time);
		margin-left: $nav-width;
		margin-right: 0;
		position: relative;
		&.active {
			margin-left: $nav-active-width;
			margin-right: -$nav-active-width;
			// @include filter(blur(10px));
		}
	}

	section {
		overflow-x: hidden;
	}
}

.n-content-row {
	margin: 0px !important;
}
// 总完


// 王狗

#n-home {
	.col-xs-0,
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12 {
		padding-left: 0;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}


	$title-bar-height: 70px;
	$height: 40px;
	$width: 70%;
	$bg-color: #333;
	$color: #eef2e7;

	.n-container {
		display: block;
		color: black;
		background-color: $bg-color;
		height: 100vh;

		.highlight-button {
			color: $bg-color;
			background-color: $color;
		}

		.n-more-option-bar {
			color: $color;
			margin-left: 0;
			margin-right: 0;
			padding-left: 15px;
			display: none;
			background-color: $bg-color;

			.bar-inner-container {
				padding-right: 0;
				.col-xs-6, .col-xs-12 {
					margin-bottom: 15px;
					input {
						margin-right: 10px;
					}
				}
			}

			.col-button {
				text-align: center;
				.title-bar-item {
					transition: 0.4s linear color;
					cursor: pointer;
				}
			}
		}

		.title-bar-item {
			border: solid 1px #ccc;
			padding: 6px 12px;
			line-height: 1.9em;
			font-size: 14px;
			border-radius: 4px;
		}

		.search-bar-addon {
			height: $height;
			background-color: $bg-color;
			color: $color;

			input {
				margin: 0 !important;
			}
		}

		.addon-fixed-width {
			min-width: 90px;
		}
		

		.search-bar {
			height: $height;
			background-color: $bg-color;
			color: $color;
			border-color: $color;
			line-height: $height - 12px;
			vertical-align: middle;


			input {
				height: $height;
				background-color: $bg-color;
				color: $color;
			}

			a {
				cursor: pointer;
				background-color: $bg-color;
				color: $color;
				transition:	 .1s linear color;
			}

			a:active {
				background-color: $color;
				color: $bg-color;	
			}
		}

		.n-title-bar {
			background-color: $bg-color;
			height: $title-bar-height;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			padding-top: calc((#{$title-bar-height} - #{$height})/2 + 2px);

			.n-title {
				margin-top: 2px;
				display: block;
				color: white;
				padding-left: 20px;
				font-size: 30px;
				vertical-align: middle;
				line-height: $height/2 + 15;

				@include xs {	
					display: none;
				}
			}

			.sort-button {
				display: block;
				text-align: center;
				vertical-align: center;
				padding: 8px 0;
				height: $height;
				background-color: $bg-color;
				color: $color;
				border: solid 1px #ccc;
				border-radius: 4px;
				font-size: 20px;
				transition:	 .1s linear color;
			}

			.sort-button:hover {
				cursor: pointer;
			}

			.sort-button:active {
				cursor: pointer;
				background-color: $color;
				color: $bg-color;
			}
		}

		.n-book-list-table {
			height: calc(100vh - 70px);
			overflow-y: scroll;
			background-color: white;
			
			.navigation {
				cursor: pointer;
			}

			.check {
				cursor: pointer;
			}

			input[type='checkbox'] {
				cursor: pointer;
			}

			.col-mc {
				font-weight: bold;
			}

			.col-title {
				font-weight: lighter;
			}

			.col-date {
				color: #aaa;
			}

			.col-selection {
			}

			// .col-selection:hover {
			// 	background-color: $color;
			// }
		}

		.clear-selection-button {
			color: rgb(236, 46, 56);
			cursor: pointer;
			transition:	 .1s linear color;
		}

		.clear-selection-button:hover {
			color: rgba(236, 46, 56, 0.9);
		}

		.clear-selection-button:active {
			color: rgba(236, 46, 56, 0.5);
		}

		thead{
			@include xs {
				display: none;
			}
		}
	}
}









// 王狗完






// 林狗
#n-post, #n-view-post {
	.col-xs-0,
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12 {
		margin-top: 5px;
		button {
			width: 100%;
		}
	}

	.row {
		margin-left: 0;
		margin-right: 0;
		margin-top: 15px;
	}

	.n-container {
		$title-bar-height: 70px;
		$height: 40px;
		$width: 70%;
		$bg-color: #333;
		$color: #eef2e7;

		.n-title-bar {
			background-color: $bg-color;
			height: $title-bar-height;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			padding-top: calc((#{$title-bar-height} - #{$height})/2 + 4px);


			.post-back-button {
				color: $color;
				cursor: pointer;
			}

			.n-title {
				display: block;
				color: $color;
				padding-right: 10px;
				font-size: 30px;
				vertical-align: middle;
				line-height: $height/2 + 15;
			}

			.sort-button {
				display: block;
				text-align: center;
				vertical-align: center;
				padding: 8px 0;
				height: $height;
				background-color: $bg-color;
				color: $color;
				border: solid 1px #ccc;
				border-radius: 4px;
				font-size: 20px;
				transition:	.1s linear color;
			}

			.sort-button:hover {
				cursor: pointer;
			}

			.sort-button:active {
				cursor: pointer;
				background-color: $color;
				color: $bg-color;
			}
		}

		hr {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		textarea {
			resize: vertical;
		}

		.required-mark {
			color: #d9534f;
		}

		.tool-bar {
			.row {
				margin-top: 20px;
			}
		}

		.create-info-row {
			button {
				height: 40px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
			}
		}

		.content {
			height: calc(100vh - #{$title-bar-height} - 30px);
			overflow-y: scroll;
			overflow-x: none;
			padding-left: 15px;
			padding-right: 15px;
			
			.input-group-addon:not(.free) {
				min-width: 100px;
			}

			@include xs {
				.input-group-addon:not(.free) {
					// min-width: 0px;
				}
			}

			.input-group {
				height: $height;
				width: 100%;
				.form-control {
					height: $height;
				}
			}
		}

		h4 {
			margin-right: 15px;
			margin-left: 15px;
			margin-top: 30px;
			margin-bottom: 10px;
			font-size: 20px;

			@include xs {
				font-size: 16px;
			}

			span {
				margin-right: 20px;
				@include xs {
					margin-right: 15px;
				}
				color: #aaa;
				cursor: pointer;

				i {
					@include transition(all .2s ease);
				}
			}

			.selected {
				color: $bg-color;
				font-weight: bold;
			}
		}
		
	}
}

#n-view-post {
	.content {
		$title-bar-height: 70px;
		$height: 40px;
		$width: 70%;
		$bg-color: #333;
		$color: #eef2e7;

		height: calc(100vh - #{$title-bar-height}) !important;

		table {
			width: 100%;
		}

		div.gallery {
			margin-top: 10px;
			width: 100%;
		}

		div.gallery ul {
			list-style-type: none;
		}

		$gallery-side-length: 95px;
		

		/* animation */

		div.gallery ul li, div.gallery li img {
			@include transition(all 0.1s ease-in-out);
		}

		div.gallery ul li {
			position: relative;
			float: left;
			width: $gallery-side-length;
			height: $gallery-side-length;
			margin: 5px;
			padding: 5px;
			z-index: 0;
		}

		/* Make sure z-index is higher on hover */
		/* Ensure that hover image overlapped the others */
		div.gallery ul li:hover {
			z-index: 5;
		}

		/* Image is position nicely under li */
		div.gallery ul li img {
			position: absolute;
			left: 0;
			top: 0;
			border: 1px solid #dddddd;
			padding: 5px;
			width: $gallery-side-length;
			height: $gallery-side-length;
			background: #f0f0f0;
		}

		div.gallery ul li img:hover {
			width: 200px;
			height: 200px;
			margin-top: -130px;
			margin-left: -130px;
			top: 65%;
			left: 65%;
		}

		.on {
			color: #FFBE00;
		}
	}
}


// 林狗完



 


// 孙狗
#n-account {

	.col-xs-0,
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12 {
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.n-container {
		$title-bar-height: 70px;
		$height: 40px;
		$width: 70%;
		$bg-color: #333;
		$color: #eef2e7;

		.n-title-bar {
			background-color: $bg-color;
			height: $title-bar-height;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			padding-top: calc((#{$title-bar-height} - #{$height})/2 + 4px);

			.n-title {
				margin-top: 5px;
				display: block;
				color: white;
				padding-right: 10px;
				font-size: 30px;
				vertical-align: middle;
				line-height: $height/2 + 15;
			}

			.sort-button {
				display: block;
				text-align: center;
				vertical-align: center;
				padding: 8px 0;
				height: $height;
				background-color: $bg-color;
				color: $color;
				border: solid 1px #ccc;
				border-radius: 4px;
				font-size: 20px;
				transition:	 .1s linear color;
			}

			.sort-button:hover {
				cursor: pointer;
			}

			.sort-button:active {
				cursor: pointer;
				background-color: $color;
				color: $bg-color;
			}
		}

		.content {
			.profile {
				display: block;
				.input-group {
					height: $height;
					width: 100%;
					margin-top: 15px;
					.input-group-addon {
						width: 70px;
					}

					.form-control {
						height: $height;
					}
				}

				.avatar-container {
					height: $height * 3 + 30px;
					@include xs {
						height: 250px;
					}
					background: url("../images/gebilaowang.png");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					margin-top: 15px;
					margin-bottom: 15px;
					border-radius: 4px;

					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				}
			}


			.posts, .stars {
				display: none;

				.sold-entry-row {
					background-color: #eee !important;
					color: #ccc !important;
				}

				.search-bar {
					margin-top: 35px;
					margin-bottom: 15px;
				}

				.acc-col-post-date {
					color: #aaa;
				}

				.acc-col-module-code {
					font-weight: bold;
				}

				.acc-col-title {
					font-weight: lighter;
				}

				.btn-container {
					padding-left: 0;
					@include xs {
						padding-left: 15px;
						margin-bottom: 20px;
					}
				}

				button {
					@include xs {
						margin-top: 15px;
					}
					width: 100%;
				}
			}

			padding: 0 15px;

			h4 {
				margin-right: 15px;
				margin-left: 15px;
				margin-top: 30px;
				margin-bottom: 10px;
				font-size: 20px;

				@include xs {
					font-size: 16px;
				}

				span {
					margin-right: 20px;
					@include xs {
						margin-right: 15px;
					}
					color: #aaa;
					cursor: pointer;
				}

				.selected {
					color: $bg-color;
					font-weight: bold;
				}
			}


			
		}
	}
}





// 孙狗完







// 雷狗
#n-nav {
	@include xs {
		display: none;
	}
	.n-container {
		height: 100vh;
		background: #222;
		top: 0;
		position: fixed;
		width: $nav-width;
		@include transition(all $container-transition-time);

		&.active {
			width: $nav-active-width;
		}

		.n-nav-icons {
			$icon-color : #aaa;
			$icon-hover-color: #fff;
			$icon-size: 20px;
			$icon-padding: 8px;
			$icon-width: $icon-size + 2 * $icon-padding;
			$icon-gap: 50px;
			padding-top: $icon-gap;

			.n-nav-text {
				color: $icon-hover-color;
				// display: none;
				width: 0;
				height: 0;
				opacity: 0.0;
				margin-left: 20px;
				@include transition(opacity 0s ease-in);

				&.active {
					width: auto;
					height: auto;
					display: inline;
					opacity: 1;
					@include transition(opacity 0.2s ease-in);
				}
			}

			.n-bottom-icon {
				bottom: 0;
				margin-top: calc(100vh - #{$icon-gap} - (#{$icon-size} + #{$icon-gap}) * 3 - 110px);

				&.userless {
					margin-top: calc(100vh - #{$icon-gap} - (#{$icon-size} + #{$icon-gap}) - 110px);					
				}
			}

			.n-nav-icon {
				padding-left: ($nav-width - $icon-width) / 2 - 1;
				a {
					border: none;
				}
				&.active {
					i {
						color: $icon-hover-color;
					}
				}
			}

			.fa-thumb-tack{
				padding: 2px 3px 3px 3px;
			}
			.fa-street-view{
				padding: 0px 1px 0px 1px;
			}

			.fa-sign-out{
				padding: 0px 0px 0px 0px;
			}


			a {
				color: $icon-color;
				padding: $icon-padding;
				border: 2px solid $icon-color;
				border-radius: 50px;

				i {
					font-size: $icon-size;
					margin-bottom: $icon-gap;
				}

				&:hover {
					color: $icon-hover-color !important;
					border-color: $icon-hover-color !important;
					@include transition(.8s ease);

					i {
						color: $icon-hover-color;
						@include transform(scale(1.6, 1.6));
						@include transition(.3s ease);
					}
				}
			}
		}
	}

	#n-hamburger-icon {
		$line-width: $nav-width * 0.4;
		$icon-height: $line-width * 0.6;
		$line-height: 2px;
		$line-color: #ecf0f1;

		$rotation: -945deg;
		$translateY: ($icon-height / 2);
		$translateX: 0;


		width: $line-width;
		height: $icon-height;
		position: relative;
		display: block;
		margin: 20px auto 20px ($nav-width - $line-width) / 2;

		.n-line {
			display: block;
			background: $line-color;
			width: $line-width;
			height: $line-height;
			position: absolute;
			left: 0;
			border-radius: ($line-height / 2);
			@include transition(all $container-transition-time);

			&.n-line-1 {
				top: 0;
			}

			&.n-line-2 {
				top: 50%;
			}

			&.n-line-3 {
				top: 100%;
			}
		}
		
		&:hover, &:focus {
			.n-line-1 {
				@include transform(translateY($line-height / 2 * -1));
			}
			.n-line-3 {
				@include transform(translateY($line-height / 2));
			}  
		}

		&.active {
			.n-line-1 {
				@include transform(translateY($translateY) translateX($translateX) rotate($rotation));
			}
			.n-line-2 {
				opacity: 0; 
			}
			.n-line-3 {
				@include transform(translateY($translateY * -1) translateX($translateX) rotate($rotation * -1));
			}
		}
	}
}


#n-login {

	.col-xs-0,
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12 {

	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.login {
		margin-top: 200px;
	}

	.login-col {
		$width : 500px;
		$padding : 20px;
		padding: $padding;
		width: $width;
		text-align: center;
		margin-left: calc((100% - #{$width}) / 2);

		@media only screen and (max-width: $width + 2 * $padding) {
			width: 100%;
			margin-left: auto;
		}

		.btn {
			width: 100%;
		}
	}

	.n-container {
		$title-bar-height: 70px;
		$height: 40px;
		$width: 70%;
		$bg-color: #333;
		$color: #eef2e7;

		.n-title-bar {
			background-color: $bg-color;
			height: $title-bar-height;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			padding-top: calc((#{$title-bar-height} - #{$height})/2 + 4px);

			.n-title {
				margin-top: 5px;
				display: block;
				color: white;
				padding-right: 10px;
				font-size: 30px;
				vertical-align: middle;
				line-height: $height/2 + 15;
			}

		}

		.content {
			.login {
				display: block;
				.input-group {
					height: $height;
					width: 100%;
					margin-top: 15px;
					.input-group-addon {
						width: 120px;
					}

					.form-control {
						height: $height;
					}
				}
			}



			padding: 0 15px;

			h4 {
				margin-right: 15px;
				margin-left: 15px;
				margin-top: 30px;
				margin-bottom: 10px;
				font-size: 20px;

				@include xs {
					font-size: 16px;
				}

				span {
					margin-right: 20px;
					@include xs {
						margin-right: 15px;
					}
					color: #aaa;
					cursor: pointer;
				}

				.selected {
					color: $bg-color;
					font-weight: bold;
				}
			}
			
		}
	}
}
// 雷狗完