/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



//Constants
@mixin lg {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin xs {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}


// 王狗

#n-home {
    

}









// 王狗完






// 林狗
#n-post {
	$n-post-nav-height: 80px;
	$n-post-nav-color: #BDC3C7;

	.n-post-nav {
		width: 100%;
		height: $n-post-nav-height;
		line-height: $n-post-nav-height;
		vertical-align: middle;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    text-align: left;
	    position: fixed;
	    margin: 0;
	    padding: 0 0 0 20px;
	    background: $n-post-nav-color;
	    color: white;
	    font-size: 25px;
	    .post-back-button {
	    	text-decoration: none;
	    	color: white;
	    	margin-right: 20px;
	    	float: left;
	    }
	    .post-module-code {
	    	font-size: 35px;
	    }
	}
}

 





// 林狗完






// 孙狗
#n-account {

}






// 孙狗完







// 雷狗
#n-nav {
	$nav-width: 90px;


	.n-container {
		height: 100vh;
		background: #000;
		top: 0;
		position: fixed;
		width: $nav-width;
	}

	#n-hamburger-icon {
		$icon-height: 40px;
		$line-width: 60px;
		$line-height: 2px;
		$line-color: #ecf0f1;

		$transition-time: 0.4s;
		$rotation: -945deg;
		$translateY: ($icon-height / 2);
		$translateX: 0;


		width: $line-width;
		height: $icon-height;
		position: relative;
		display: block;
		margin: 20px auto 20px auto;

		.n-line {
			display: block;
			background: $line-color;
			width: $line-width;
			height: $line-height;
			position: absolute;
			left: 0;
			border-radius: ($line-height / 2);
			@include transition(all $transition-time);

			&.n-line-1 {
				top: 0;
			}

			&.n-line-2 {
				top: 50%;
			}

			&.n-line-3 {
				top: 100%;
			}
		}
		&:hover, &:focus {
			.n-line-1 {
				@include transform(translateY($line-height / 2 * -1));
			}
			.n-line-3 {
				@include transform(translateY($line-height / 2));
			}  
		}

		&.active {
			.n-line-1 {
				@include transform(translateY($translateY) translateX($translateX) rotate($rotation));
			}
			.n-line-2 {
				opacity: 0;
			}
			.n-line-3 {
				@include transform(translateY($translateY * -1) translateX($translateX) rotate($rotation * -1));
			}
		}
	}
}

// 雷狗完