/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



//Constants
@mixin lg {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin xs {
    @media only screen and (max-width: 767px) {
        @content;
    }
}


// 王狗











// 王狗完






// 林狗
.n-post-nav {
	width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    position: fixed;
    margin: 0;
    padding: 0;
    color: blue;
}








// 林狗完






// 孙狗











// 孙狗完







// 雷狗











// 雷狗完