<section id="n-account" class="n-account">
	<div class="n-container">

	<div class="n-account-nav col-md-12">
	<a href="#" class="n-account-back-button">
	<i class="fa fa-angle-left fa-2x" style="padding-top: 10px;"></i>
	</a>

	<div class="n-account-toggle-button">
    <a href="#profile">Profile</a>
    <a href="#favourite">Favourite</a>
    <a href="#history">History</a>
    </div>

	</div>


  	<div class="row">

    <div class="col-sm-4">
      <!-- <i class="fa fa-user fa-5x"></i> -->
      <img class="account-profile-pic" src="view/images/gebilaowang.png"></img>
    </div>

    <div class="col-sm-8">
     	<span class="n-account-name">王进喜</span>
 	</div>

	</div>
	
	
	<div id="profile" class="n-account-toggle">

		<div class="row">
			<div class="n-account-profile-info col-md-6">
				<div class="row info-row">
					<div class="col-md-3">
						<label class="account-label">Gender:</label>
					</div>
					<div class="col-md-9">
						<label class="account-label">Male</label>
					</div>
				</div>
			
				<div class="row info-row">
					<div class="col-md-3">
						<label class="account-label">Contact:</label>
					</div>
					<div class="col-md-9">
						<label class="account-label">98994794</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="account-label">Email:</label>
					</div>
					<div class="col-md-9">
						<label class="account-label">syx0628@gmail.com</label>
					</div>
				</div>
			</div>
		</div>

	</div> 
	<div id="favourite" class="n-account-toggle" style="display:none">favourite</div>
	<div id="history" class="n-account-toggle" style="display:none">history</div>
</section>