<section id="n-account">
	<div class="n-container">

	<div class="n-account-nav">
    <a href="profile">Show content 1</a>
    <a href="favorite">Show content 2</a>
    <a href="history">Show content 3</a>
	</div>

	<div id="content1" class="toggle" style="display:none">show the stuff1</div> 
	<div id="content2" class="toggle" style="display:none">show the stuff2</div>
	<div id="content3" class="toggle" style="display:none">show the stuff3</div>

  	<div class="row">

    <div class="col-sm-4">
      <i class="fa fa-user"></i>
    </div>

    <div class="col-sm-8">
     	Name
 	</div>

	</div>
	
</section>