<section class="n-post" id="n-post">
	<div class="n-container">
		<div class="n-post-nav">
			<a href="#" class="post-back-button">
				<i class="fa fa-angle-left fa-2x" style="padding-top: 10px;"></i>
			</a>
			<label class="post-module-code">Sell</label>
		</div>
		<div class="row">
			//textbook info section
			<div class="create-post-textbook-info col-md-12">
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Textbook Title:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input" placeholder="Textbook Title">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Module Code:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input" placeholder="Module Code">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Publication:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input" placeholder="Publication">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Price:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input post-input-short"placeholder="Price">
						<label class="post-label-right">SGD</label>
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Edition:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input"placeholder="Edition">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Authors:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input" placeholder="Authors">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Condition:</label>
					</div>
					<div class="col-md-9">
						<div>
							<input class="form-control post-input post-input-short"placeholder="Condition rank from 1 to 10">
							<label class="post-label-right">/ 10</label>
						</div>
						<div>
							<input type="checkbox" class="condition-check" id="condition-edge-check"></input>
							<label class="create-post-condition-label">Edges are not curved</label>
						</div>
						<div>
							<input type="checkbox" class="condition-check" id="condition-edge-check"></input>
							<label class="create-post-condition-label">Not containing any notes</label>
						</div>
						<div>
							<input type="checkbox" class="condition-check" id="condition-edge-check"></input>
							<label class="create-post-condition-label">Purchased within one year</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="post-image-section col-md-12">
					<a class="fancybox" rel="group" href="view/images/gebilaowang.png">
						<img class="post-image" src="view/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="view/images/gebilaowang.png">
						<img class="post-image" src="view/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="view/images/gebilaowang.png">
						<img class="post-image" src="view/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="view/images/gebilaowang.png">
						<img class="post-image" src="view/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="view/images/gebilaowang.png">
						<img class="post-image" src="view/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="view/images/gebilaowang.png">
						<img class="post-image" src="view/images/gebilaowang.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>