<section class="n-post" id="n-post">
	<div class="n-container">
		<div class="n-post-nav">
			<a href="#" class="post-back-button">
				<i class="fa fa-angle-left fa-2x" style="padding-top: 10px;"></i>
			</a>
			<label class="post-module-code">Sell</label>
			<a href="#" class="post-create">Create</a>
		</div>
		<div class="row n-content-row">
			<div class="create-post-textbook-info col-md-7">
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Title:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input" placeholder="Textbook Title">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Code:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input" placeholder="Module Code">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Publication:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input" placeholder="Publication">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Price:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input post-input-short"placeholder="Price">
						<label class="post-label-right">SGD</label>
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Edition:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input"placeholder="Edition">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Authors:</label>
					</div>
					<div class="col-md-9">
						<input class="form-control post-input" placeholder="Authors">
					</div>
				</div>
				<div class="row create-info-row">
					<div class="col-md-3">
						<label class="post-label">Condition:</label>
					</div>
					<div class="col-md-9">
						<div>
							<input class="form-control post-input post-input-short"placeholder="Condition rank from 1 to 10">
							<label class="post-label-right">/ 10</label>
						</div>
						<div>
							<input type="checkbox" class="condition-check" id="condition-edge-check"></input>
							<label class="create-post-condition-label">Edges are not curved</label>
						</div>
						<div>
							<input type="checkbox" class="condition-check" id="condition-edge-check"></input>
							<label class="create-post-condition-label">Not containing any notes</label>
						</div>
						<div>
							<input type="checkbox" class="condition-check" id="condition-edge-check"></input>
							<label class="create-post-condition-label">Purchased within one year</label>
						</div>
					</div>
				</div>
			</div>
			<div class="create-post-image-section col-md-4">
				<a class="fancybox col-md-6" rel="group" href="view/images/gebilaowang.png">
					<img class="post-image" src="view/images/gebilaowang.png">
				</a>
				<a class="fancybox col-md-6" rel="group" href="view/images/gebilaowang.png">
					<img class="post-image" src="view/images/gebilaowang.png">
				</a>
				<a class="fancybox col-md-6" rel="group" href="view/images/gebilaowang.png">
					<img class="post-image" src="view/images/gebilaowang.png">
				</a>
				<a class="fancybox col-md-6" rel="group" href="view/images/gebilaowang.png">
					<img class="post-image" src="view/images/gebilaowang.png">
				</a>
				<a class="fancybox col-md-6" rel="group" href="view/images/gebilaowang.png">
					<img class="post-image" src="view/images/gebilaowang.png">
				</a>
				<div class="col-md-6" rel="group" data-toggle="modal" data-target="#avatar-modal">
	                <img class="post-image" src="view/images/gebilaowang.png">
	            </div>
			</div>
			<div class="modal fade" id="avatar-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Add Photo</h4>
                    </div>
                    <div class="modal-body">
                        <label for="image">
                            <form action="" class="image-select" data-droppable="">
                                <input id="image" type="file" data-droppable-input="" />
                                <i class="fa fa-camera fa-2x image-select__icon"></i>
                                <div class="image-select__message"></div>
                                <div class="bg-image aspect-square" style="background-image: url('view/images/gebilaowang.png');" data-droppable-image=""></div>
                            </form>
                        </label>
                        <br>
                        <div id="progress-status">
                            <div id="progressbar" class='progress'></div>
                            <div id="status"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="uploadPhotoAjax()" data-dismiss="modal">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
		</div>
	</div>
</section>