<section id="n-home">
    <div class="n-container">
        <div class="row n-title-bar">
            <div class="col-xs-12 col-sm-3">
                <span class="n-title">N-USED</span>
            </div>
            <div class="col-xs-10 col-sm-8">
                <div class="input-group search-bar">
                    <input type="text" class="form-control" placeholder="Module Code  /  Key Words  /  Figures" ng-model="BookSearchQuery">
                    <a class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="col-xs-2 col-sm-1">
                <a class="sort-button" id="basic-addon1"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>

        <div class="n-more-option-bar">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    Only Selected Visible
                </div>
            </div>
        </div>

        <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table class="table table-hover table-mc-teal">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Title</th>
                        <th>Condition</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
	                <tr ng-repeat="book in books | filter: BookSearchQuery | orderBy: orderList" on-finish-render="ngRepeatFinished">
	                    <td class="col-mc" data-title="Module Code">{{ book.moduleCode }}</td>
	                    <td class="col-title" data-title="Title">{{ book.title }}</td>
	                    <td class="col-condition" data-title="Condition">{{ book.condition.rank + " / 10"}}</td>
	                    <td class="col-price" data-title="Price">{{ "S$" + book.price }}</td>
	                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
