<section id="n-login">
	<div class="n-container">
		<div class="row n-title-bar">
			<div class="col-xs-offset-3 col-xs-9">
				<span class="n-title pull-right">LOG IN</span>
			</div>
		</div>	

		<div class="content">
			<div class="content-block login">	
				<div class="row">
					<div class="login-col">
						<div class="input-group">
						  	<span class="input-group-addon" id="sizing-addon2">Email</span>
						  	<input type="text" class="form-control" id="n-login-email" placeholder="Email" aria-describedby="sizing-addon2">
						</div>

						<div class="input-group">
						  	<span class="input-group-addon" id="sizing-addon2">Password</span>
						  	<input type="password" class="form-control" id="n-login-password" placeholder="Password" aria-describedby="sizing-addon2">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="login-col">
						<button class="btn btn-success" id="n-login-btn"><i class="fa fa-check"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>