<section id="n-login">
	<div class="n-container">
		<div class="row n-title-bar">
			<div class="col-xs-offset-3 col-xs-9">
				<span class="n-title pull-right">LOG IN</span>
			</div>
		</div>	

		<div class="content">
			<hr>
			
			<div class="content-block login">	
				<div class="row">
					<div class="col-sm-12 col-md-8 col-md-offset-2">
						<div class="input-group">
						  	<span class="input-group-addon" id="sizing-addon2">Name</span>
						  	<input type="text" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon2" value="{{ currentUser.name }}">
						</div>

						<div class="input-group">
						  	<span class="input-group-addon" id="sizing-addon2">Phone</span>
						  	<input type="text" class="form-control" placeholder="Hand Phone" aria-describedby="sizing-addon2" value="{{ currentUser.handphone }}">
						</div>

						<div class="input-group">
						  	<span class="input-group-addon" id="sizing-addon2">Email</span>
						  	<input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2" value="{{ currentUser.email }}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>