<section id="n-nav">
	<div class="n-container">
		<div class="n-nav-toggle">
			<a id="n-hamburger-icon" href="#">
				<span class="n-line n-line-1"></span>
				<span class="n-line n-line-2"></span>
				<span class="n-line n-line-3"></span>
			</a>
		</div>

		<div class="n-nav-icons">
			<div class="n-nav-icon" id="n-nav-home">
				<a href="#"><i class="fa fa-cog"></i></a>
			</div>

			<div class="n-nav-icon" id="n-nav-post">
				<a href="#"><i class="fa fa-cog"></i></a>
			</div>

			<div class="n-nav-icon" id="n-nav-account">
				<a href="#"><i class="fa fa-cog"></i></a>
			</div>
		</div>
	</div>
</section>