<section id="n-nav">
	<div class="n-container">
		<div class="n-nav-toggle">
			<a id="n-hamburger-icon" href="#">
				<span class="n-line n-line-1"></span>
				<span class="n-line n-line-2"></span>
				<span class="n-line n-line-3"></span>
			</a>
		</div>

		<div class="n-nav-icons">
			<div class="n-nav-icon active" id="n-nav-home">
				<a href="#"><i class="fa fa-book"></i></a>
				<div class="n-nav-text" style="color: #fff">
					Home
				</div>
			</div>

			<div ng-if="currentUser">
				<div class="n-nav-icon" id="n-nav-post">
					<a href="#"><i class="fa fa-thumb-tack"></i></a>
					<div class="n-nav-text" style="color: #fff">
						Post
					</div>
				</div>

				<div class="n-nav-icon" id="n-nav-account">
					<a href="#"><i class="fa fa-street-view"></i></a>
					<div class="n-nav-text" style="color: #fff">
						Account
					</div>
				</div>
			</div>
			<div class="n-nav-icon n-bottom-icon {{currentUser ? '' : 'userless'}}" id="{{currentUser ? 'n-nav-logout' : 'n-nav-login'}}">
				<a href="#"><i class="fa {{currentUser ? 'fa-sign-out' : 'fa-sign-in'}}"></i></a>
				<div class="n-nav-text" style="color: #fff">
					Log out
				</div>
			</div>
		</div>
	</div>
</section>