<section class="n-post" id="n-post">
	<div class="n-container">
		<div class="n-post-nav">
			<a href="#" class="post-back-button">
				<i class="fa fa-angle-left fa-2x" style="padding-top: 10px;"></i>
			</a>
			<label class="post-module-code">CS3240</label>
		</div>
		<div class="row">
			<div class="post-textbook-info col-md-6">
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Title:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">CS3240 interactive design textbook</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Publication:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">CS3240 interactive design textbook</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Price:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">7 SGD</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Edition:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">the 7th edition</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Condition:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">8 / 10</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Author:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">Bimlesh Wadhwa</label>
					</div>
				</div>
			</div>
			<div class="post-contact-info col-md-5">
				<div class="post-contact-avatar">
					<i class="fa fa-user fa-5x"></i>
				</div>
			</div>
		</div>
	</div>
</section>