<section class="n-post" id="n-post">
	<div class="n-container">
		<div class="row n-title-bar">
			<div class="col-xs-offset-3 col-xs-9">
				<span class="n-title pull-right">POST</span>
			</div>
		</div>
		<div class="content">

			<h4>Please fill the form</h4>
			<hr>

			<div class="row create-info-row">
				<div class="col-xs-12">
					<div class="input-group" >
						<span class="input-group-addon">Module <span class="required-mark">*</span></span>
						<input class="form-control" placeholder="Module Code" id="post-code" onblur="validateNotNull(this)" onfocus="clearError(this)">
					</div>
				</div>
			</div>
			<div class="row create-info-row">
				<div class="col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">Title <span class="required-mark">*</span></span>
						<input class="form-control" placeholder="Textbook Title" id="post-title" onblur="validateNotNull(this)" onfocus="clearError(this)">
					</div>
				</div>
			</div>
			<div class="row create-info-row">
				<div class="col-xs-12 col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">Condition <span class="required-mark">*</span></span>
						<input class="form-control" placeholder="from 1 to 10" id="post-condition" onblur="validateCondition(this)" onfocus="clearError(this)">
						<label class="input-group-addon free">/ 10</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="input-group">
						<span class="input-group-addon free">
							<input type="checkbox" id="post-cond-check-1">
						</span>
						<button data-toggle="post-cond-check-1" class="btn btn-default btn-condition-check">edges are not curved</button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-6">
					<div class="input-group">
						<span class="input-group-addon free">
							<input type="checkbox" id="post-cond-check-2">
						</span>
						<button data-toggle="post-cond-check-2" class="btn btn-default btn-condition-check">not containing any notes</button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-6">
					<div class="input-group">
						<span class="input-group-addon free">
							<input type="checkbox" id="post-cond-check-3">
						</span>
						<button data-toggle="post-cond-check-3" class="btn btn-default btn-condition-check">purchased within one year</button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-6">
					<div class="input-group">
						<span class="input-group-addon free">
							<input type="checkbox" id="post-cond-check-4">
						</span>
						<button data-toggle="post-cond-check-4" class="btn btn-default btn-condition-check">wrapped</button>
					</div>
				</div>
			</div>

			<hr>

			<div class="row create-info-row">
				<div class="col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">Edition</span>
						<input class="form-control"placeholder="Edition" id="post-edition">
					</div>
				</div>
			</div>
			<div class="row create-info-row">
				<div class="col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">Authors</span>
						<input class="form-control" placeholder="Authors" id="post-authors">
					</div>
				</div>
			</div>
			<div class="row create-info-row">
				<div class="col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">Publisher</span>
						<input class="form-control" placeholder="Publisher">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4 col-md-2">
					<a href="#" class="thumbnail">
					</a>
				</div>
				<div class="col-xs-4 col-md-2">
					<a href="#" class="thumbnail">
					</a>
				</div>
				<div class="col-xs-4 col-md-2">
					<a href="#" class="thumbnail">
					</a>
				</div>
				<div class="col-xs-4 col-md-2">
					<a href="#" class="thumbnail">
					</a>
				</div>
				<div class="col-xs-4 col-md-2">
					<a href="#" class="thumbnail">
					</a>
				</div>
				<div class="col-xs-4 col-md-2">
					<a href="#" class="thumbnail">
					</a>
				</div>
			</div>

			<!-- <div class="row button-row">
				<div class="col-xs-6 col-sm-3">
					<div class="input-group">
						<button class="btn btn-info" data-toggle="tooltip" data-delay="500" data-placement="bottom" title="add edition field for this book">+ Edition</i></button>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3">
					<div class="input-group">
						<button class="btn btn-info" data-toggle="tooltip" data-delay="500" data-placement="bottom" title="add authors field for this book">+ Authors</i></button>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3">
					<div class="input-group">
						<button class="btn btn-info" data-toggle="tooltip" data-delay="500" data-placement="bottom" title="add publisher field for this post">+ Publisher</i></button>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3">
					<div class="input-group">
						<button class="btn btn-info" data-toggle="tooltip" data-delay="500" data-placement="bottom" title="add pictures for this book">+ Picture</i></button>
					</div>
				</div>
			</div> -->

			<hr>

			<div class="row create-info-row">
				<div class="col-xs-12 col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">Price <span class="required-mark">*</span></span>
						<input class="form-control" placeholder="Price" id="post-price" onblur="validatePrice(this)" onfocus="clearError(this)">
						<span class="input-group-addon free">SGD</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<textarea class="form-control" rows="4" placeholder="Please enter any additional notes here."></textarea>
				</div>
			</div>

			<hr>

			<div class="row create-info-row">
				<div class="col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">Name <span class="required-mark">*</span></span>
						<input class="form-control" placeholder="Full Name" value="{{ currentUser.name }}">
					</div>
				</div>
			</div>
			
			<div class="row create-info-row">
				<div class="col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">Phone <span class="required-mark">*</span></span>
						<input class="form-control" placeholder="Hand Phone Number" value="{{ currentUser.handphone }}">
					</div>
				</div>
			</div>

			<div class="row create-info-row">
				<div class="col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">Email <span class="required-mark">*</span></span>
						<input class="form-control" placeholder="Email Address" value="{{ currentUser.email }}">
					</div>
				</div>
			</div>

			<hr>

			<div class="row tool-bar">
				<div class="col-xs-12 col-sm-2 col-sm-offset-10">
					<button class="btn btn-success post-create" data-toggle="tooltip" data-delay="500" data-placement="bottom" title="publish the post">Post</i></button>
				</div>
			</div>

			<div class="modal fade" id="avatar-modal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Add Photo</h4>
					</div>
					<div class="modal-body">
						<label for="image">
							<form action="" class="image-select" data-droppable="">
								<input id="image" type="file" data-droppable-input="" />
								<i class="fa fa-camera fa-2x image-select__icon"></i>
								<div class="image-select__message"></div>
								<div class="bg-image aspect-square" style="background-image: url('static/images/gebilaowang.png');" data-droppable-image=""></div>
							</form>
						</label>
						<br>
						<div id="progress-status">
							<div id="progressbar" class='progress'></div>
							<div id="status"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="uploadPhotoAjax()" data-dismiss="modal">Save Changes</button>
					</div>
				</div>
			</div>
		</div>
		
		</div>
	</div>
</section>