<section class="n-post" id="n-view-post">
	<div class="n-container">
		<div class="n-post-nav">
			<a href="#" class="post-back-button">
				<i class="fa fa-angle-left fa-2x" style="padding-top: 10px;"></i>
			</a>
			<label class="post-module-code">{{ currentBook.moduleCode }}</label>
			<span class="n-post-like">
				<i class="fa fa-star like off"></i>
			</span>
		</div>
		<div class="row n-content-row">
			//textbook info section
			<div class="post-textbook-info col-md-7">
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Title:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">CS3240 interactive design textbook</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Publication:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">CS3240 interactive design textbook</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Price:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">7 SGD</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Edition:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">the 7th edition</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Author:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">Bimlesh Wadhwa</label>
					</div>
				</div>
				<div class="row info-row">
					<div class="col-md-3">
						<label class="post-label">Condition:</label>
					</div>
					<div class="col-md-9">
						<label class="post-label">8 / 10</label>
						<label class="post-condition-label">Edges are not curved</label>
						<label class="post-condition-label">Not containing any notes</label>
						<label class="post-condition-label">Purchased within one year</label>
					</div>
				</div>
			</div>
			//contact info section
			<div class="post-contact-info col-md-3">
				<div class="post-contact-avatar">
					<img class="account-profile-pic" src="static/images/gebilaowang.png">
				</div>
				<div class="row contact-row">
					<div class="col-md-12">
						<label class="contact-name-label">{{ currentUser.name }}</label>
					</div>
				</div>
				<div class="row contact-row">
					<div class="col-md-12">
						<label class="contact-label">{{ currentUser.handphone }}</label>
					</div>
				</div>
				<div class="row contact-row">
					<div class="col-md-12">
						<label class="contact-label">{{ currentUser.email }}</label>
					</div>
				</div>
				<div class="row contact-row">
					<div class="col-md-12">
						<label class="contact-label">NUS PGP block A room 204</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="post-image-section col-md-12">
					<a class="fancybox" rel="group" href="static/images/gebilaowang.png">
						<img class="post-image" src="static/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="static/images/gebilaowang.png">
						<img class="post-image" src="static/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="static/images/gebilaowang.png">
						<img class="post-image" src="static/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="static/images/gebilaowang.png">
						<img class="post-image" src="static/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="static/images/gebilaowang.png">
						<img class="post-image" src="static/images/gebilaowang.png">
					</a>
					<a class="fancybox" rel="group" href="static/images/gebilaowang.png">
						<img class="post-image" src="static/images/gebilaowang.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>